body{
  background: url("./img/cloud.gif") no-repeat center fixed; /* only display once, center horizontal and vertical, dont let scroll change position. */
  -webkit-background-size: cover;
  -moz-background-size: cover; /* cover the whole html element. */
  -o-background-size: cover;
  background-size: cover;
    letter-spacing: 0.2em;
    font-size: 0.8em;
  }
  .card-container{
    max-width: 400px;
  }

  .card {
    background-color: #f5f0f038;
  }
 
  .icon{
    position: relative;
    top: -20px;
    border-radius: 50%;
    width: 100px;
    margin-top: 10px;
    margin-bottom: -50px;
    padding: 20px;
  }

  .btnDiv {
    display: inline-grid;
    position: relative;
    top: -25px;
  }

  .cel {
    margin-bottom: 10px;
  }